[Desktop Entry]
Encoding=UTF-8
Exec=/home/fancyferret/Downloads/setups/robo3t-1.1.1-linux-x86_64-c93c6b0/bin/robo3t
Icon=/home/fancyferret/Downloads/setups/robo3t-1.1.1-linux-x86_64-c93c6b0/bin/robo3t.1.1.1.png
Type=Application
Terminal=false
Comment=Robo 3T
Name=Robo 3T
GenericName=robo3t-1.1.1
StartupNotify=false
Categories=Development;IDE;Programming