[Desktop Entry]
Encoding=UTF-8
Exec=/home/fancyferret/opt/whale/Whale
Icon=/home/fancyferret/opt/whale/resources/app/static/Icon.ico
Type=Application
Terminal=false
Comment=Whale
Name=Whale
GenericName=whale-trello
StartupNotify=false
Categories=Organization;todo